@inherits PasswordBase

Password:

<input @oninput="OnPasswordChanged"
       required 
       type="@(ShowPassword ? "text" : "password")" />

<button class="btn btn-primary" @onclick="ToggleShowPassword">Show password</button>